@font-face {
    font-family: "Cormorant";
    font-weight: 800;
    src: url(../public/fonts/CormorantGaramond-Bold.woff2) format("woff2"), url(../public/fonts/CormorantGaramond-Bold.woff) format("woff");
}

@font-face {
    font-family: "Cormorant";
    font-weight: 400;
    src: url(../public/fonts/CormorantGaramond-Regular.woff2) format("woff2"), url(../public/fonts/CormorantGaramond-Regular.woff) format("woff");
}

@font-face {
    font-family: "Merriweather-Sans";
    font-weight: 100;
    src: url(../public/fonts/MerriweatherSans-Light.woff2) format("woff2"), url(../public/fonts/MerriweatherSans-Light.woff) format("woff");
}

:root {
    /* COLORS */
    --clr-brand: hsl(0, 60%, 66%);
    --clr-neutral-100: hsl(0, 0%, 96%);
    --clr-neutral-800: hsl(0, 0%, 7%);

    /* TYPOGRAPHY */
    --ff-body: "Merriweather-Sans", sans-serif;
    --ff-heading: "Cormorant", serif;
}

body {
    font-family: var(--ff-body);
    color: var(--clr-neutral-800);
}

.hero {
    padding-block: 5.5rem;
    text-align: center;
    background: url(https://images.unsplash.com/photo-1488992783499-418eb1f62d08?q=80&w=1978&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center -33rem / cover;
    position: relative;
    isolation: isolate;
}

.hero::after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(9deg, black, transparent);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

header {
    font-family: var(--ff-heading);
    color: var(--clr-neutral-100);
}

h1 {
    font-size: 4.5rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 5rem;
}